h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

p {
  padding: 15px 10px;
}

.btnContainer {
  margin: 20px auto 50px auto;
  width: 90%;
}

.btnGroup {
  margin: 10px;
  display: inline-block;
  width: 150px;
}
